:root{
    font-family: Arial, Helvetica, sans-serif;
    --bg-color-l:white;
    --text-color-l:black;
    --border-color-l:black;
    --bg-color-d:black;
    --text-color-d:white;
    --border-color-d:white;
}

/* Light theme */
.light{
    background-color:var(--bg-color-l);
    color:var(--text-color-l);
    border-color:var(--border-color-l);
    --inversion:0;
}

/* Dark theme */
.dark{
    background-color:var(--bg-color-d);
    color:var(--text-color-d);
    border-color:var(--border-color-d);
    --inversion:1;
}

/* Header styles */
header{
    padding-top:0%;
    margin-top:0%;
    text-align:center;
    font-family: 'futura';
    font-weight:bold;
    font-style:normal;
    font-size:5vw;
}

h1{
    margin-top:1%;
    margin-bottom:1%;
}

body{
    padding-bottom:5%;
}

.separator{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-style:solid;
    /* border-bottom-color:var(--border-color); */
    border-bottom-width:0.8vw;
}

.socicon{
    width:2em;
    height:2em;
    display:inline;
    border-radius:0.2em;
    filter: invert(var(--inversion));
}

.socwrapper{
    font-style:normal;
    display:inline-block;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
}

.soctext{
    text-decoration:none;
    color:inherit;
    /* color:black; */
    /* font-style:bold; */
    margin-top:8%;
}

.project{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.4%;
    padding-bottom:0.2%;
    /* font-style:bold; */
}

.contact{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#about{
    text-align:center;
}

#projectlist{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:2%;
}

#aboutimg{
    text-align:center;
    margin-top:1%;
}

#headshot{
    width:20%;
    height:20%;
    border-radius:50%;
    border-style:solid;
    /* border-color:black; */
}

#abouttxt{
    text-align:justify;
    font-family:sans-serif;
    /* text-justify: left; */
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

#aboutsoc{
    text-align:center;
    padding-bottom:2%;
}

.modeswitch{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}