:root{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:30%;
    height:30%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-color:black;
    border-width:2px;
    border-style:solid;
}

figcaption,figure,h1,#inputs{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

figcaption{
    font-weight:bold;
}

p{
    margin-top:0%;
    margin-bottom:0%;
    padding-left:20%;
    padding-right:20%;
}

.invalid{
    background-color:rgb(210, 15, 15);
    border-color:rgb(210, 15, 15);
}

#mode{
    margin-bottom:1%;
}

#delaybox{
    margin-top:0.5%;
    margin-bottom:0.5%;
}

#inputs{
    margin-top:1%;
}
